.customTable {
  .thead {
    display: inline-flex;
    background: white;
    border-right: 1px solid black;
    > div {
      border-left: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
  .tbody {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    > div {
      display: grid;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      grid-auto-flow: column;
      > div {
        border-left: 1px solid black;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 50px;
        white-space: nowrap;
        span {
          padding-left: 10px;
        }
      }
    }
  }
  .resizableBox {
    height: 50px;
    display: flex;
    justify-content: space-between;
    order: 1px solid black;
    background: rgb(164, 183, 209);

    .contentBox {
      display: flex;
      width: 90%;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      text-overflow: ellipsis;
      > div {
        display: flex;
      }
      span {
        width: auto;
        text-align: left;
        white-space: nowrap;
        padding-left: 10px;
      }
    }
    .resizeHandle {
      cursor: col-resize;
      width: 5px;
    }
  }
  .active {
    background: rgb(202, 209, 218);
  }
  .arrow-up {
    width: 0;
    margin: auto auto auto 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }

  .arrow-down {
    width: 0;
    margin: auto auto auto 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid black;
  }
  .selectedColumn {
    background: rgb(202, 209, 218);
  }
}
